.landing {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 40px;
  overflow: hidden;
  background-color: var(--white);
}

.landing__header {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  text-align: left;
}

.landing__est {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.landing__p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  max-width: 300px;
}

.landing__title {
  font-family: var(--font-serif);
  font-size: 10.08rem;
  font-weight: 400;
  line-height: 0.90;
  color: var(--ink);
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin-bottom: 40px;
}

.landing__exlibris {
  width: 250px;
  margin-left: 50px;
}

.landing__notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  margin-top: 20vh;
}

.landing__tagline {
  font-family: var(--font-handwritten);
  font-size: 3.5rem;
  text-align: left;
  color: var(--pen-red);
  opacity: 0.95;
  margin-bottom: 50px;
  line-height: 1;
  position: relative;
  z-index: 1;
  max-width: 250px;
  rotate: -2deg;
}

.landing__explain {
  font-family: var(--font-handwritten);
  font-size: 3.45rem;
  text-align: left;
  color: var(--pen-red);
  opacity: 0.95;
  line-height: 1;
  position: relative;
  z-index: 1;
  max-width: 265px;
  rotate: 1.5deg;
}

.landing__cta {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-align: left;
  margin-top: 40px;
}

.landing__cta img {
  max-width: 60px;
}

.landing__image {
  height: 90vh;
}
